.container2 {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background-image: url(https://ideakart.com/assets/youridea-23d18c0fab7feb4d66e4c1dbc419428c71b2014ff742fc52b4006f6b65af6b67.jpg);
    background-repeat: no-repeat;
}
.top{
    margin: auto;
}

.box {
    display: flex;
    justify-content: space-around;
}

.line1 {
    width: 600px;
    height: 100px;
    /* border: 1px solid red; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    text-align: center;
}

.line2 {
    /* border: 1px solid red; */
    width: 600px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.input_box {
    width: 500px;
    height: 20px;
    padding-left: 5px;
}

.msg1 {
    width: 90%;
    height: 400px;
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
}

.msg2 {
    width: 73pc;
}

.butt{
    padding: 5px;
    background-color: green;
    border-radius: 4px;
}