.footer_main_div{
    margin-left: 10%;
    margin-top:80px;

}
.Get_to{
    margin-left: -5%;
    font-size: 15px;
   
}
               
 .footer{
     text-decoration: none;
     color:#6cb3e4;
 }   
 .footer:hover{
  text-decoration: underline;
 }           
               /* here is serch.jsx css */

.main_serch_div{
    display:flex;
    flex-direction: column;
    width:70%;
    margin:auto;
}
.Search_Results{
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 40px;
    


}
.Search{
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   
}
.no_result{
    font-size:20px;
    margin-top: 10px
}


                         /* here is Privacy-Policy.jsx css */

.Privacy_Main_Div{
    display: flex;
    width:75%;
    margin: auto;
}
.Privacy_h1{
    font-size: 36px;
    font-weight: 400;
}
.mainP{
    font-weight: 650;
}



.Refund_main_div{
    display: flex;
    width:75%;
    margin: auto;
}
.Refund_main_pp{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
.Refund_main_p{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
.Refund_P{
    margin-top: -5px;
    font-size: 23px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    font-weight: 350;
    font-style: normal;
    
    
}


                                 /* here is Earn Money Online.jsx css */


.Earn_Money_Online{
    font-size: 36px;
     margin-left: 10.5%;
     margin-top:30px;
     margin-bottom:30px;
}

.Earn_Money_Main_div{
    display:flex;
    width:87%;
    margin: auto;
    gap:35px;
}

.Earn_Money_child_div{
    border: 1px solid black;
    height: 350px;
    width: 370px;
}
.Number{
    text-align: center;
    margin-bottom: 40px;
    background-color:#f0f8ff;
    height: 40px;
    width: 30px;
    margin-top: 20px;
    border:1px solid #f0f8ff;
    margin-left: 45%;
    border-radius: 50%;
    line-height: 40px;
    margin-bottom: 2px;
}
.p_heading{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 25px;
    line-height: 30px;
    text-align: center;  
}
li{
    margin-left:25px;
}


.image{
    margin-top:50px;
    margin:70px;
    width:90%;
    height:600px;   
}
.button{
    height: 40px;
    width: 110px;
    margin-bottom: 30px;
    margin-top:30px;
    background-color: #337ab7;
    border: none;
    border-radius: 5px;
    margin-left: 45%;
    color:#f0f8ff;
}